.header{
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}

form{
    width:400px;
    margin: auto;
    
    padding: 50px;
    margin-top:10%;
    background-color:white;
    /* box-shadow:0 0 10px 1px rgba(37, 73,214, 0.18); */
}
#submit{
    width: 100%;
    background-color: #110679;
    text-transform:uppercase;
    color: white;
   
   border: 1px solid #110679;
   padding:7px;
   }
   #submit:hover{
       background-color:red;
   }
   .header h2{
    margin: 1px;
    text-align: center;
    padding-top: 20px;
}
.form-group{
    margin-bottom:20px ;
    padding-bottom:10px ;
    position: relative;
    color: black;
}
.form-group label{
    display: inline-block;
    margin-bottom:2px ;
    font-family: sans-serif;
    font-size: 1.2em;
}
.form-group input{
    border:2px solid #03036e;
    display:block ;
    border-radius: 6px;
    font-family: inherit;
    color: black;
    font-size: 14px;
    padding:7px;
    width:100% ;
   
}
.form-group.success input{
    border-color:green ;
}
.form-group.error input{
    border-color:red ;
}
.form-group.success  i.fa-check-circle{
    visibility: visible;
    color: green;
}
.form-group.error  i.fa-exclamation-circle{
    visibility: visible;
    color: red;
}
.form-group i{
    position: absolute;
    top:40px;
    right:5px ;
    left: 103%;
    visibility: hidden;
}
.form-group small{
    visibility: hidden;
    position: absolute;
    
    top:63px;
   
    left: 0;
    
}
.form-group.error small{
    visibility: visible;
    color:red;
}
#message {
    display:none;
    background: yellow;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 10px;
   
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 14px;
  }
  

  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
 
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  /* body{
    background-size: cover;
    background-color: rgba(240, 255, 255, 0.801);
     height:50px;  
} 
/* signup form */

/* .signup{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 999;
    width:570px;
    height: 800px;
    border-radius: 30px;
    text-align: center;
    padding: 60px 32px;
    margin-top: 200px;
    background: rgba(236, 233, 233, 0.5);
    box-shadow: -1px 4px 28px opx rgba(0, 0, 0, 0.75);
    border: 3px solid #0c0666;


}
.signup h2{
    color: rgb(16, 8, 66);
        font-size: 33px;
        font-weight: 600;
        margin:0 0 35px 0;

        font-family: 'Montserrat',sans-serif;

}
input[type=text],input[type=password]{
    width:100%;
    box-sizing:  border-box;
    padding:12px 5px;
    background:rgba(0, 0, 0, 0.10);
    outline:none;
    border:none;
    border-bottom:1px dotted #fff;
    color:rgb(8, 1, 1);
    border-radius:5px;
    margin:5px;
    font-weight: bold;
    border: 2px solid #0c0666;
    



}
input[type=submit]{
    width:100%;
    box-sizing:border-box;
    padding:10px 0;
    margin-top:30px;
    outline: none;
    border-color:#1005ac ;
    background: #1005ac ;
    opacity:0.7;
    border-radius: 20px;
    font-size:20px;
    color:#fff;
    text-decoration: none;


}

input[type=submit]:hover{
    background:#1005ac;
   opacity:0.7;
    border-color: #1005ac;
    text-decoration: none;
}


.password-strength {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  } 
  .js-hidden {
    display: none;
  }
  







#footer{
    padding: 10px 0; margin-top:100% ;margin-bottom: 0%;
}  */